:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --pColor:#777;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: rgb(236, 236, 236) ;
}
/* *Components */
.main-title{
    position: relative;
    text-transform: uppercase;
    margin: 0 auto 80px;
    padding: 10px;
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid black;
    z-index: 1;
}
.main-title:hover{
    border: none;
    color: white;
    transition-delay: 0.3s;
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    transition: all var(--main-transition) ease-in-out;
}
.main-title::before{
    left: -20%;
}
.main-title:hover::before{
    left: 0;
}
.main-title::after{
    right: -20%;
}
.main-title:hover::after{
    right: 0;
}
.main-title:hover::after,.main-title:hover:before{
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
}
.spikes{
    position: relative;
}
.spikes::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    right: 0;
    z-index: 1;
}
/* *End Components */
/* !Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: var(--transition);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    transition: all 0.4s ease-in-out;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}   
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
.container {
    width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}
/* !End Global Rules */
/* Start header */
header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #262626;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:991px){
    header .container{
        flex-direction: column;
    }
}
header h2{
    color: var(--main-color);
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
header h2{
    width: 100%;
    height: 50px;
}
}
header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
header .main-nav {
    margin: auto;
}
}
header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
    text-decoration: none;
}
@media (max-width: 767px) {
header .main-nav > li > a {
    padding: 10px;
    font-size: 13px;
    height: 30px;
}
}
header .main-nav > li > a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
header .main-nav > li > a:hover {
    color: var(--main-color);
}
header .main-nav > li > a:hover::before {
    left: 0;
}
/* *start mega-menu */
.mega-menu {
    position: absolute;
    max-width: 1000px;
    left: 0;
    transform: translateX(50%);
    background-color: white;
    z-index: -1;
    display: flex;
    top: calc(100% + 70px);
    opacity: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
}
header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 30px);
}
@media (max-width: 991px) {
.mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
}
}
.mega-menu .image {
    width: 50%;
}
.mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
.mega-menu .image {
    display: none;
}
}
.mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.mega-menu .links li {
    position: relative;
}
.mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
.mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
}
}
.mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.mega-menu .links li:hover::before {
    width: 100%;
}
.mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.mega-menu .links li i {
    margin-right: 15px;
}
/* End mega-menu */
/* End header */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    background-color: var(--section-background);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
}
.landing .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 100px);
}
.landing .container .text{
    flex: 1;
}
.landing .container .text h2{
    font-size: 48px;
    font-weight: bold;
}
.landing .container .text p{
    color: var(--pColor);
    font-size: 20px;
    line-height: 1.7;
}
@media(max-width:991px){
.landing .container .text{
    text-align: center;
    font-size: 10px;
}
}
.landing .container .image{
    width: 50%;
    animation: up-down 3s infinite;
}
@media(max-width:991px){
.landing .container .image{
    display: none;
}
}
.landing .container .image img{
    max-width: 100%;
}
.landing i{
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 1%;
    animation: bouncing 1.5s infinite;
}
.landing i:hover{
    cursor: pointer;
    color: var(--main-color-alt);
}
/* End Landing */
/* Start Articles */
.articles{
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box{
    box-shadow: 0 0 10px rgba(114, 113, 113,0.4);
    transition: all var(--main-transition);
    border-radius: 6px;
}
.articles .container .box:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 10px rgb(114, 113, 113);

}
.articles .container .image{
    max-width: 100%;
}   
.articles .container .image img{
    max-width: 100%;
}
.articles .container .text{
    padding: 20px;
}
.articles .container .text h2{
    margin-bottom: 20px;
}
.articles .container .text p{
    line-height: 1.7 ;
    color: var(--pColor);
}
.articles .container .end{
    padding: 20px;
    border-top: 1px solid var(--pColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .container .end a,
.articles .container .end i{
    color: var(--main-color);
    font-size:14px ;
    font-weight: bold;
}
.articles .container .box:hover .end i{
    animation: slide-right 1.5s infinite;
}
/* End Articles */
/* Start gallery */
.gallery{
    position: relative;
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px  ;
}
.gallery .container .box{
    background-color: white;
    padding: 20px;
}
.gallery .container .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .container .box:hover img{
    transform: rotateZ(3deg) scale(1.05);
}
.gallery .container .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background-color: rgba(233, 230, 230,0.3);
    z-index: 2;
}
.gallery .container .box:hover .image::before{
    animation: flash 0.2s linear;
}
.gallery .container .box .image img{
    max-width: 100%;
}
/* End gallery */
/* Start features */
.features{
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    position: relative;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.features .box{
    position: relative;
    border: 1px solid var(--section-background);
    min-height: 650px;
}

.features .container .box .image{
    position: relative;
    max-width: 100%;
    height: 50%;
    overflow: hidden;
}
.features .container .box .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.features .container .quality .image::before{
    background-color: rgba(255, 0, 0, 0.4);
}
.features .container .time .image::before{
    background-color: rgba(0, 255, 81, 0.4);
}
.features .container .passion .image::before{
    background-color: rgba(0, 208, 255, 0.4);
}
.features .image::after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    border-style: solid;
    border-width: 0 0 150px 350px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after{
    bottom: -3px;
    left: 0;
    border-style: solid;
    border-width: 0px 445px 120px 0px;
    border-color: transparent transparent white transparent;
}
.features .container .box img{
    max-width: 100%;
}
.features .box .text{
    text-align: center;
}
.features .box .text h2{
    margin: 20px auto 20px;
    font-size: 28px;
    width: fit-content;
    padding: 10px;
}
.features .container .quality .text h2{
    border-bottom: 5px solid rgb(255, 0, 0);
}
.features .container .time .text h2{
    border-bottom: 5px solid rgb(0, 255, 81);
}
.features .container .passion .text h2{
    border-bottom: 5px solid rgb(0, 208, 255);
}
.features .box .text p{
    line-height:1.7;
    font-size: 18px;
    color: var(--pColor) ;
}
.features .box .more{
    position: relative;
    font-size: 28px;
    color: black;
    border: 2px solid black;
    padding: 10px 20px 10px;
    border-radius: 6px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}
.features .box .more::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: all var(--main-transition);
    z-index: -1;
}

.features .quality:hover .more::after{
    width: 100%;
    background-color:rgb(255, 0, 0) ;
}
.features .time:hover .more::after{
    width: 100%;
    background-color:rgb(0, 255, 81) ;
}
.features .passion:hover .more::after{
    width: 100%;
    background-color:rgb(0, 208, 255) ;
}
.features .container .quality .more{
    border: 5px solid rgb(255, 0, 0);
}
.features .container .quality .more a{
    color: rgb(255, 0, 0);
}
.features .container .time .more{
    border: 5px solid rgb(0, 255, 81);
}
.features .container .time .more a{
    color: rgb(0, 255, 81);
}
.features .container .passion .more{
    border: 5px solid rgb(0, 208, 255);
}
.features .container .passion .more a{
    color: rgb(0, 208, 255);
}
.features .box:hover .more a{
    color: white;
}
/* End features */
/* Start testimonials */
.test{
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.test .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.test .container .box{
    position: relative;
    background-color: white;
    padding: 20px;
}
.test .box img{
    position: absolute;
    border: 10px solid var(--section-background);
    width: 100px;
    border-radius: 50%;
    top: -40px;
    right: -10px;
}
.test .box h2{
    margin-bottom: 10px;
}
.test .box p{
    line-height: 1.7;
    margin: 10px 0;
}
.filled{
    color: gold;
}
/* End testimonials */
/* Start members */
.members{
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    position: relative;
}
.members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.members .box{
    position: relative;
    padding: 30px;
    transition: all var(--main-transition);
}
.members .box::before,.members .box::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius:15px;
    transition: all var(--main-transition);
}
.members .box::before{
    width: calc(100% - 60px);
    background-color: var(--section-background);
    z-index: -2;
}
.members .box::after{
    width: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
}
.members .box:hover::after{
    width: calc(100% - 60px);
}
.members .box .top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.members .box .socials{
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50%;
}
.members .box .socials a{
    color: var(--pColor);
}
.members .box .socials a:hover{
    color: var(--main-color);
}
.members .container .box img{
    width: calc(100% - 60px);
    border-radius: 15px;
}
.members .box:hover img{
    filter: grayscale(100%);
}
.members .box .text{
    margin-left: 60px;
}
.members .box .text h2{
    color: var(--main-color);
    margin-bottom: 5px;
}
.members .box:hover .text h2{
color: var(--pColor);
}

.members .box .text p{
    color: var(--pColor);
    margin-bottom: 5px;
}
/* End members */
/* Start services */
.services{
    padding: var(--main-padding-top) 0 var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.services .container .box{
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(114, 113, 113,0.6);
    transition: all var(--main-transition);
    position: relative;
    overflow: hidden;
}
.services .box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
}
.services .container .box:hover::after{
    left: -50%;
    width: 200%;
}
.services .container .box:hover{
    transform: translateY(-10px);
}
.services .container .box i{
    color: var(--section-background);
    margin: 20px 0;
}
.services .box h3{
    color: var(--main-color);
    margin: 20px 0;
    line-height: 1.7;
}
.services .box .details{
    background-color: var(--section-background);
    bottom: 0;
    height: 50px;
    text-align:right;
    padding: 15px;
    position: relative;
}
.services .box .details::before{
    content: "0" counter(services);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    width: 30%;
}
.services .box .details::after{
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    width: 13%;
    height: 100%;
    background-color: rgb(158, 152, 152);
    transform: skew(-15deg);
}
.services .box .details a{
    color: var(--main-color);
}
/* End services */
/* !Animations */
@keyframes up-down{
    0%,100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(30px);
    }
}
@keyframes bouncing{
    0%,10%,20%,30%,50%,80%,90%,100%{
        transform: translateY(0px);
    }
    40%,60%{
        transform: translateY(10px);
    }
}
@keyframes slide-right{
    0%,100%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(10px);
    }
}
@keyframes flash{
    0%{
        width: 50%;
        height: 50%;
    }
    100%{
        width: 110%;
        height: 110%;
    }
}
/* !End Animations */